
.hello{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: start;
  flex: 0.5;
  min-width: 350px;
}
.holder{
  display: flex;
  justify-content: center;
}
.button-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}